@import "../../../variables";

.project {

  background: $black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  color: $white;

  div {
    background: $black;
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  span {
    color: $red;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  p {
    margin: 4px 0;
  }

  hr {
    border: none;
    height: 1px;
    background: #ddd;
    margin: 12px 0;
  }
  button{
    border-radius: 4px;
    margin: 10px;
  }
  button:hover{
    cursor: pointer;
  }
  #delete{
    background-color: $light-red;
    color: $white;
    border: none;
    padding: 10px 20px;
    font-size: large;

  }

#update{
    background-color: $yellow;
    color: $white;
    border: none;
    font-size: large;
    padding: 10px 20px;
  }
  #details{
    background-color: $green;
    color: $white;
    border: none;
    font-size: large;
    padding: 10px 20px;
  }

}
