<div class="project">
  @for (project of projects; track project.id) {
    <div>
      <h2>
        {{ project.title }}
      </h2>
      <p>{{ project.description }}</p>
      <p>Status: {{ project.toDo ? 'To Do' : 'Completed' }}</p>
      <button id="details" (click)="onProjectDetailClick(project.id)">Open Detail</button>
      <button (click)="deleteProject(project.id)"
              id="delete">🗑 Delete
      </button>
      <button (click)="updateProject(project)"
              id="update">✏ Update
      </button>
      <hr/>
    </div>
  }
</div>




