.project-container{
    margin: 0 auto;
    padding: 10px;
    width: 80vw;
<<<<<<< HEAD
    border: 2px solid rgb(175, 54, 255);
    border-radius: 5px;
=======
>>>>>>> 2cd39a75cdd8430dfe10f726513d20c34778413e
}
